<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" />

    <title>Registration</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
        </div>
        <div class="navbar-brand">
            <div th:if="${anonymousUser}"><a th:href="@{/login}">Login</a></div>
        </div>
        <div class="navbar-brand">
            <div th:if="${user}"><a th:href="@{/post}">New Post</a></div>
        </div>
        <div class="navbar-brand">
            <div th:if="${user}"><a th:href="@{/post/list}">My Posts</a></div>
        </div>
        <div class="navbar-brand">
            <div th:if="${user}"><a th:href="@{/logout}">Logout</a></div>
        </div>
    </div>
</nav>
<br>
<br>
<div class="container">
    <table class="table table-hover">
        <thead>
        <tr></tr>
        </thead>
        <tbody>
        <tr th:each="p : ${postList}">
            <td>
                <div class="row"> <p th:text="${p.title}"></p> </div>
                <div class="row">
                <div class="col-sm-3" th:text="${p.location.title}"></div>
                <div class="col-sm-3" th:text="${#dates.format(p.createdAt, 'dd-MMM-yyyy')}"></div>
                <div class="col-sm-3" th:text="${'poseted by-'+ p.author.getFullName()}"></div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript"
        th:src="@{/webjars/jquery/3.5.1/jquery.min.js/}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>

</body>
</html>